<div class="container earth-message-container">
   <div class="col-12 d-flex align-items-center justify-content-center">
       <div>
            <div class="mb-2 big-title underline text-center">
                Oops... guess NASA missed that one!
            </div>
           <div class="sub-title text-center">
                Wow, you survived!? How!? Now you're our only hope, click below
                in order to restore the earth and all of it's inhabitants, and most
                importantly, to continue viewing asteroids near the earth today!
           </div>
       </div>
   </div>
   <div class="col-12 d-flex align-items-center justify-content-center pt-3">
       <div class="btn btn-primary sub-title" 
           (click)="saveThePlanet($event)">
           <strong>
               SAVE THE PLANET
           </strong>
       </div>
   </div>
</div>