.header {
    background-color: #e5c454;
    border-bottom: 2px solid #e94464;
    overflow: hidden;
}

.spinning-asteroid {
    width: 60px;
    height: 48px;
}

.date-col {
    background-color: #e94464;
    border-radius: 25px;
    border: 1px solid black;
}

@media ( max-width : 1024px) {
}

@media ( max-width : 767px) {

    .spinning-asteroid {
        width: 30px;
        height: 24px;
    }
}

@media ( max-width : 350px) {

    .spinning-asteroid {
        width: 20px;
        height: 16px;
    }
}
