@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    font-family:Raleway,sans-serif;
    font-style:normal;
    font-weight:400;
    color: black;
    font-size: 16px;
}

.super-big-title {
    font-weight: 1000;
    font-size: 26px;
}

.big-title {
    font-weight: 1000;
    font-size: 20px;
    text-transform: none !important;
}

.big-content {
    font-size: 20px;
}

.sub-title {
    font-weight: 600;
}

.parent-layout-container {
    background-color: black;
}

.underline {
    border-bottom: 1px solid #e94464;
}

.hover-parent {
    cursor: pointer;
}

.hover-parent:hover,
.hover-parent:focus,
.hover-parent:active {
    color: #e94f64;
}


@media ( max-width : 1024px) {
}

@media ( max-width : 767px) {

    body {
        font-size: 14px;
    }

    .super-big-title {
        font-size: 18px;
    }

    .big-title {
        font-size: 16px;
    }

    .big-content {
        font-size: 16px;
    }

    .mobile-100 {
        width: 100%;
    }

    .mobile-center{
        text-align: center;
    }

}

@media ( max-width : 360px) {

    body {
        font-size: 12px;
    }

    .super-big-title {
        font-size: 16px;
    }

    .big-title {
        font-size: 14px;
    }

    .big-content {
        font-size: 14px;
    }
}