<div class="container asteroid-container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="btn btn-primary"  (click)="toggleAsteroidsView()">
            <div class="button-text" *ngIf="!expandedAsteroidView">
                View Asteroids Near Earth Today
            </div>
            <div class="button-text" *ngIf="expandedAsteroidView">
                Scared? Click to close the view
            </div>
        </div>
    </div>
    <div class="row" *ngIf="expandedAsteroidView">
        <div class="col-12 col-md-3" *ngFor="let asteroid of asteroidsNearEarthInput">
            {{asteroid.id}}<br/>
            Is hazardous?: {{asteroid.is_potentially_hazardous_asteroid}}
        </div>
    </div>
</div>