<div class="container asteroid-container py-5">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-8 btn btn-primary"
            (click)="toggleAsteroidsView()">
            <div class="big-title" *ngIf="!expandedAsteroidView">
                <strong>
                    {{ closedButtonText | uppercase}}
                </strong>
            </div>
            <div class="button-text" *ngIf="expandedAsteroidView">
                <strong>
                    {{ openButtonText | uppercase}}
                </strong>
            </div>
        </div>
    </div>
    <div class="row py-2 d-flex align-items-center justify-content-center"
        *ngIf="expandedAsteroidView">
        <div class="col-12 sort-by-row">
            <sorter-component 
                [sortTitle]="sortTitle"
                [sortFilterArray]="sortFilterArray"
                (sortingParamDefined)="sortingParamApplied($event)">
            </sorter-component>
        </div>
        <div class="col-12 change-display-metris-row">
            <change-display-metrics-component
                [userDiameterPreferredView]="userDiameterPreferredView"
                [userSpeedPreferredViewInput]="userSpeedPreferredViewInput"
                [userMissDistancePreferredViewInput]="userMissDistancePreferredViewInput"
                (unitFilterTypeChange)="unitFilterDisplayChangeDisplay($event)">
            </change-display-metrics-component>
        </div>
        <div class="col-12 no-hazardous-asteroids-view"
            *ngIf="noPotentiallyHazardousAsteroidsFlag">
            <no-dangerous-asteroids-today></no-dangerous-asteroids-today>
        </div>
        <div class="col-12 col-md-3 individual-asteroid-block mx-3 my-3"
            *ngFor="let asteroid of asteroidsNearEarthInput">
            <div class="asteroid-name-field">
                <span class="sub-title">
                    Name:&nbsp;
                </span>
                {{asteroid.name | asteroidNameFormatter}}
            </div>
            <div class="d-flex asteroid-diameter-field">
                <div class="sub-title">
                    Diameter:&nbsp;
                </div>
                <div *ngIf="userDiameterPreferredView === 'feet'">
                    {{ asteroid.estimated_diameter.feet.estimated_diameter_max | asteroidDimensionalFormatter }} ft
                </div>
                <div *ngIf="userDiameterPreferredView === 'kilometers'">
                    {{ asteroid.estimated_diameter.kilometers.estimated_diameter_max | asteroidDimensionalFormatter}} km
                </div>
                <div *ngIf="userDiameterPreferredView === 'meters'">
                    {{ asteroid.estimated_diameter.meters.estimated_diameter_max | asteroidDimensionalFormatter}} m
                </div>
                <div *ngIf="userDiameterPreferredView === 'miles'">
                    {{ asteroid.estimated_diameter.miles.estimated_diameter_max | asteroidDimensionalFormatter}} mi
                </div>
            </div>
            <div class="d-flex asteroid-speed-field">
                <div class="sub-title">
                    Speed:&nbsp;
                </div>
                <div *ngIf="userSpeedPreferredViewInput === 'kmh'">
                    {{ asteroid.speedKiloPerHour | asteroidDimensionalFormatter }} km/h
                </div>
                <div *ngIf="userSpeedPreferredViewInput === 'kms'">
                    {{ asteroid.speedKiloPerHour | asteroidDimensionalFormatter }} km/s
                </div>
                <div *ngIf="userSpeedPreferredViewInput === 'mph'">
                    {{ asteroid.speedKiloPerHour | asteroidDimensionalFormatter }} mi/h
                </div>
            </div>
            <div class="d-flex asteroid-miss-distance-field">
                <div class="sub-title">
                    Miss Distance:&nbsp;
                </div>
                <div *ngIf="userMissDistancePreferredViewInput === 'kilometers'">
                    {{ asteroid.missDistanceKm | asteroidDimensionalFormatter }} km
                </div>
                <div *ngIf="userMissDistancePreferredViewInput === 'miles'">
                    {{ asteroid.missDistanceMiles | asteroidDimensionalFormatter }} mi
                </div>
            </div>
             <div class="d-flex asteroid-potentially-hazardous-field">
                <div class="sub-title">
                    Potentially Dangerous:&nbsp;
                </div>
                <div *ngIf="asteroid.is_potentially_hazardous_asteroid">
                    Yes
                </div>
                <div *ngIf="!asteroid.is_potentially_hazardous_asteroid">
                    No
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center asteroid-see-more-field sub-title"
                (click)="openExpandedView($event, asteroid.id)">
                See More
            </div>
        </div>
    </div>
</div>