.btn-primary {
    background-color: #e94f64;
    color: black;
    border: 0;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #e94f64 !important;
    color: black;
}

.individual-asteroid-block {
    border: 2px solid #656565;
    background-color: #d6d0de;
}

.box {
    background-color: gray;
}
.change-display-metris-row {
    background-color: white;
    border: 1px solid red;
}

/*.expanded-view-modal {
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
}

.inner-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
        border: 1px solid red;
}*/