.btn-primary {
    background-color: #e94f64;
    color: black;
    border: 0;
    text-transform: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #e5c454 !important;
    color: black !important;
}


.individual-asteroid-block {
    border: 2px solid #656565;
    background-color: #d6d0de;
}

.change-display-metris-row {
    background-color: #e94f64;
    /*border: 1px solid #e5c454;*/
}
