<div class="footer">
    <div class="container footer-container d-block d-md-flex align-items-center justify-content-between  py-2">
        <div class="sub-title mobile-100 mb-1 pb-md-0 mobile-center">
            <strong>
                &copy;Copyright 2018 Himat Jutla
            </strong>
        </div>
        <div class="sub-title mobile-100 mobile-center">
            <strong class="pr-1">
                Data provided by NASA
            </strong>
            <img class="nasa-logo" src="../../../../assets/images/nasa-image.png" alt="Nasa logo">
        </div>
    </div>
</div>