<div class="parent-container">
<header-component></header-component>
<div class="container main-body-container">
    <div class="canvas-container">
        <earth-component></earth-component>
        <asteroids-component 
            [asteroidsNearEarthInput]="asteroidNearEarthArray"
            [expandedAsteroidView]="expandedAsteroidViewBoolean"
            [userDiameterPreferredView]="userDiameterPreferredView"
            [userSpeedPreferredViewInput]="userSpeedPreferredViewInput"
            [individualAstervoidViewFlagInput]="individualAstervoidViewFlag"
            [individualNearEarthAsteroidInput]="individualNearEarthAsteroid"
            [sortTitle]="sortTitle"
            [sortFilterArray]="sortFilterArray"
            (viewAsteroids)="handleViewAsteroids($event)"
            (diameterTypeChange)="handleDiameterChange($event)"
            (sortingParamDefined)="handleSorting($event)"
            (viewIndividualAsteroidExpandedView)="handleOpenIndividualAsteroidExandedView($event)"
            >
        </asteroids-component>
    </div>
</div>
<div class="fixed-bottom">
    <footer-component></footer-component>
</div>
</div>
