<div class="parent-container">
<div class="container main-body-container pt-4"
    [ngClass]="{
        'center-when-closed': !expandedAsteroidViewBoolean,
        'shift-top-when-opened': expandedAsteroidViewBoolean
    }">
    <div class="canvas-container" [class.]=""
        [ngClass]="{
                'canvas-container':!explodeEarthAsteroidFlag,
                'explode-earth-container':explodeEarthAsteroidFlag
        }">
        <div class="modal"
            [ngClass]="{
                'hidden':!individualAstervoidViewFlag,
                'block-display':individualAstervoidViewFlag
            }">
    <div class="col-12 d-flex justify-content-end pb-1">
        <span class="x-button"
            (click)="closeModal()">
            x
        </span>
    </div>
    <div class="col-12" *ngIf="individualAstervoidViewFlag">
        <individual-asteroid
            [individualNearEarthAsteroid]="individualNearEarthAsteroid">
        </individual-asteroid>
    </div>
</div>
<div class="modal-backdrop"
    (click)="closeModal()"
    [ngClass]="{
        'hidden':!individualAstervoidViewFlag,
        'block-display':individualAstervoidViewFlag
    }">
</div>
        <earth-component
            [explodeEarthFlag]="explodeEarthFlag"
            [displayNasaMessage]="displayNasaMessage">
        </earth-component>
        <asteroids-component 
            [asteroidsNearEarthInput]="asteroidNearEarthArray"
            [expandedAsteroidView]="expandedAsteroidViewBoolean"
            [noPotentiallyHazardousAsteroidsFlag]="noPotentiallyHazardousAsteroidsFlag"
            [explodeEarthFlag]="explodeEarthFlag"
            [displayNasaMessage]="displayNasaMessage"
            [userDiameterPreferredView]="userDiameterPreferredView"
            [userSpeedPreferredViewInput]="userSpeedPreferredViewInput"
            [userMissDistancePreferredViewInput]="userMissDistancePreferredViewInput"
            [sortTitle]="sortTitle"
            [sortFilterArray]="sortFilterArray"
            (viewAsteroids)="handleViewAsteroids($event)"
            (unitFilterTypeChange)="handleUnitFilterChange($event)"
            (sortingParamDefined)="handleSorting($event)"
            (viewIndividualAsteroidExpandedView)="handleOpenIndividualAsteroidExandedView($event)"
            >
        </asteroids-component>
    </div>
</div>
</div>